---
import Float from "@components/atoms/Float/Float";
import Footer from "@components/organisms/Footer/Footer.astro";
import Header from "@components/organisms/Header/Header.astro";
import type { Guest } from "@models/types/guest";
import "../../styles/main.css";
import Envelope from "@components/organisms/Envelope/Envelope";
import MusicPlayer from "@components/atoms/MusicPlayer/MusicPlayer";

interface Props {
  guest?: Guest;
}

const { guest } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astyimar y Emmanuel</title>
    <meta
      name="description"
      content="Astyimar y Emmanuel - Celebrando nuestro gran día. Toda la información sobre la boda, ubicación, horarios y más."
    />
    <link rel="canonical" href="https://astyimar-emmanuel.com/" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#9480b2" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://astyimar-emmanuel.com/" />
    <meta property="og:title" content="Astyimar y Emmanuel" />
    <meta
      property="og:description"
      content="Astyimar y Emmanuel - Celebrando nuestro gran día. Toda la información sobre la boda, ubicación, horarios y más."
    />
    <meta
      property="og:image"
      content="https://astyimar-y-emmanuel.com/images/open-graph.png"
    />
    <meta property="og:image:alt" content="Astyimar y Emmanuel - Boda" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://astyimar-emmanuel.com/" />
    <meta name="twitter:title" content="Astyimar y Emmanuel" />
    <meta
      name="twitter:description"
      content="Astyimar y Emmanuel - Celebrando nuestro gran día. Toda la información sobre la boda, ubicación, horarios y más."
    />
    <meta
      name="twitter:image"
      content="https://astyimar-y-emmanuel.com/images/open-graph-twitter.png"
    />
    <meta name="twitter:image:alt" content="Astyimar y Emmanuel - Boda" />
  </head>
  <body class={`font--body ${guest ? "overflow-y--hidden" : ""}`}>
    <Header guest={guest} />
    <div class="content">
      <slot />
      {guest && <Float client:load guest={guest} />}
    </div>
    <Footer />
    {
      guest ? (
        <Envelope client:load guest={guest} />
      ) : (
        <MusicPlayer client:load play={true} manual={true} />
      )
    }
  </body>

  <style>
    html {
      scroll-behavior: smooth;
      scroll-padding-top: 5.4375rem;

      @media (min-width: 1280px) {
        scroll-padding-top: 6.5rem;
      }
    }

    body {
      display: grid;
      min-height: 100svh;
      grid-template-rows: auto 1fr auto;
      color: var(--black);
    }

    .content {
      display: flex;
      flex-direction: column;
    }
  </style>
</html>
