---
import Copy from "@components/molecules/Copy/Copy";
import CopyIcon from "@public/icons/copy.svg";
import MoneyIcon from "@public/icons/money.svg";
import BankIcon from "@public/icons/bank.svg";
import flower1Image from "@public/images/flower--1.png";
import flower18Image from "@public/images/flower--18.png";
import { Image } from "astro:assets";

const pagoMovilItems = [
  {
    key: "Banco",
    value: "0105",
    label: "Banco Mercantil (0105)",
  },
  {
    key: "Teléfono",
    value: "04142156802",
    label: "0414-2156802",
  },
  {
    key: "Cédula",
    value: "27794231",
    label: "27.794.231",
  },
];
---

<section id="gifts" class="host">
  <div class="column">
    <h2 class="title font--heading">
      <Image
        class={"title__flower title__flower--top"}
        src={flower18Image}
        alt={"Flower"}
      />
      <span>Regalos</span>
      <Image
        class={"title__flower title__flower--bottom"}
        src={flower18Image}
        alt={"Flower"}
      />
    </h2>

    <div class="intro">
      <p class="description">
        <span class="description__block">
          Tu compañía es el mejor regalo de todos. Si está en tus planes tener
          un detalle, lo recibiremos con mucho amor y gratitud.
        </span>
        <span class="description__block"
          >¡Gracias por tu cariño y apoyo incondicional!</span
        >
      </p>
    </div>
  </div>

  <div class="column">
    <div class="cards">
      <div class="card">
        <Image class={"card__flower"} src={flower1Image} alt={"Flower"} />
        <ul class="list">
          <li class="item">
            <p class="item__description">
              No desperdicies la oportunidad de incluir un mensaje
              personalizado.
            </p>
          </li>
        </ul>
        <div class="icon-container icon--card">
          <MoneyIcon class="icon--money" width={42} height={42} />
        </div>
      </div>

      <div class="card">
        <Image class={"card__flower"} src={flower1Image} alt={"Flower"} />

        <ul class="list">
          <li class="item">
            <ul class="sublist sublist--copy">
              {
                pagoMovilItems.map((item) => (
                  <li class="subitem subitem--copy">
                    <Copy client:visible value={item.value}>
                      <p class="copy">{`${item.key}: ${item.label}`}</p>
                      <CopyIcon class="icon--copy" width={16} height={16} />
                    </Copy>
                  </li>
                ))
              }
            </ul>
          </li>
        </ul>
        <BankIcon class="icon--card icon--bank" width={48} height={48} />
      </div>
    </div>
  </div>
</section>

<style>
  .host {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 1.5rem;

    @media (min-width: 1024px) {
      max-width: 80rem;
      margin: 0 auto;
      padding: 6rem 2rem 8rem;
      gap: 4rem;
    }

    @media (min-width: 85.375rem) {
      padding: 6rem 2rem 10rem;
      gap: 4.5rem;
    }
  }

  .column {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    @media (min-width: 1024px) {
      justify-content: center;
      gap: 2.2rem;
    }
  }

  .cards {
    width: min(768px, 80%);
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 1.5rem;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 3rem;
    }
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 0.3rem;
    gap: 2rem;
    align-self: center;

    @media (min-width: 1024px) {
      height: 100%;
      padding: 2rem;
    }
  }

  .card__flower {
    position: absolute;
    bottom: calc(100% - 1.2rem);
    right: calc(100% - 1.2rem);
    width: 2.25rem;
    height: auto;
  }

  .title {
    margin: 0 auto;
    width: max-content;
    position: relative;
    display: flex;
    font-size: 2.4rem;
    justify-content: center;
    padding: 0.5rem;

    @media (min-width: 768px) {
      font-size: 2.8rem;
    }

    @media (min-width: 1024px) {
      font-size: 3.8rem;
    }
  }

  .title__flower {
    position: absolute;
    width: 2.6rem;
    height: auto;
  }

  .title__flower--top {
    bottom: calc(100% - 2.25rem);
    right: calc(100% - 0.5rem);
    transform: rotate(45deg);
  }

  .title__flower--bottom {
    top: calc(100% - 2.5rem);
    left: calc(100% - 0.5rem);
    transform: rotate(-15deg);
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
  }

  .subtitle {
    font-size: 1.6rem;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.8rem;
    }
  }

  .subtitle__block {
    display: block;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;

    @media (min-width: 1024px) {
      gap: 3.5rem;
    }
  }

  .item {
    font-size: 1.4rem;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.2rem;
    }
  }

  .description,
  .subitem__description,
  .copy {
    font-size: 1.2rem;
    font-weight: normal;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }

  .description {
    margin: 0 auto;
    max-width: 50ch;
  }

  .item__title {
    text-align: center;
  }

  .item__description {
    text-align: center;
    font-size: 1rem;

    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }
  .description__block {
    display: block;
  }

  .item__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.2rem;

    @media (min-width: 1024px) {
      margin-bottom: 1.6rem;
      gap: 1rem;
    }
  }

  .sublist {
    gap: 1.6rem;
    list-style-type: disc;
  }

  .sublist--copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    list-style: none;
    padding-left: 0;
  }

  .subitem,
  .copy {
    font-size: 1rem;

    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .icon--copy {
    color: var(--secondary);

    @media (min-width: 1024px) {
      width: 1.375rem;
      height: 1.375rem;
    }
  }

  .subitem--copy:focus .icon--copy,
  .subitem--copy:hover .icon--copy {
    color: var(--white);
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    border: 0.25rem solid var(--white);
    background-color: #6d578f;
    width: 3rem;
    height: 3rem;
  }

  .icon--card {
    position: absolute;
    top: calc(100% - 2rem);
    left: calc(100% - 2rem);
  }

  .icon--bank {
    background-color: var(--white);
    border-radius: 50%;
  }
</style>
